/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**/

html, html a{
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}
a, button{
    -webkit-transition: all .30s;
    -moz-transition: all .30s;
    -o-transition: all .30s;
    transition: all .30s;
}
 html, body{
      padding: 0;
      margin: 0;
      height: 100%;
    }
#container{
    width: 100%;
    height: 100%;
    min-width: 348px;
}
#header{
    position: relative;
    height: 100px;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
}

#header nav{
    float: left;
    width: calc(50% - 115px);
}

#header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#header nav ul li{
    float: left;
    margin: 0 30px 0 0;
}
#header nav:last-child ul li{
    float: right;
    margin: 0 0 0 30px;
}
#header nav ul li:last-child{
    margin: 0;
}
#header nav ul li a{
    font-family: 'champagne__limousinesregular', Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 3.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #000;
    text-align: left;
}
#header nav:last-child ul li a{
    text-align: right;
}
#header nav ul li a:hover{
    text-decoration: underline;
    color: #000;
}

#logo{
    float: left;
    margin: 0;
}
#logo h1{
    display: block;
    width: 170px;
    height: 70px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url('../img/logo_WPA_black.png') no-repeat center;
    background-size: 80%;
}



}

main{
    clear: both;
}

main section{
    padding: 80px 0;
    clear: both;
}

section#photography{
    margin: 0 auto;
    padding: 20px 0 0 0;
    border-top: 1px solid #000;
}
#photography .photo_container{
    position: relative;
}
#photography .imagery_photo{
    position: relative;
    float: left;
    background: #000 url('../img/img_photo.png') center top no-repeat;
    background-size: cover;
    z-index: 10;
}
#photography h2{
    position: absolute;
    font-family: metropolis_1920regular, Helvetica, sans-serif;
    font-size: 2.8em;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5em;
    z-index: 50;
}
#photography .imagery_photo h2{
    top: 0;
    left: 30px;
}
#photography .imagery_press{
    position: relative;
    float: right;
    background: #000 url('../img/img_press.png') center top no-repeat;
    background-size: cover;
    z-index: 10;
}
#photography .imagery_press h2{
    bottom: 0;
    right: 30px;
}

.ampersand{
    position: absolute;
    width: 48px;
    text-align: center;
    z-index: 50;
}


section#intro{
    padding: 20px 0 0 0;
}

#intro .intro_article_left, #intro .intro_article_right{
    position: relative;
}
#intro p{
    margin: 0;
    padding: 15px 0 0 0;
    font-family: 'champagne__limousinesbold', Helvetica, sans-serif;
    line-height: 1.8em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
#intro .intro_article_left p{
    text-align: left;
}
#intro .intro_article_right p{
    text-align: right;
}
#intro .intro_article_left, #intro .intro_article_right{
    margin: 0 0 100px 0;
}
#intro .intro_article_left img, #intro .intro_article_right img{
   position: absolute;
   top: 30px;
   padding-bottom: 40px;
   border-bottom: 10px solid #000;
}

#intro .intro_article_left img{
    left: 30px;
}
#intro .intro_article_left .img_intro_left{
    float: left;
    height: 0;
    margin-right: 60px;
    border-left: 0 solid rgba(0,0,0,0);

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#intro .intro_article_right img{
    right: 30px;
}

#intro .intro_article_right .img_intro_right{
    float: right;
    height: 0;
    margin-left: 60px;
    border-right: 0 solid rgba(0,0,0,0);

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


section#headlines{
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #000;
    clear: both;
}
#headlines h2{
    position: relative;
    display: block;
    background: #fff;
    font-family: 'metropolis_1920regular', Helvetica, sans-serif;
    color: #000;
    text-align: center;
}
#headlines article{
    margin: 0 0 50px 0;
    padding: 0 30px;
}
#headlines article header{
    margin: 0 0 20px 0;
}
#headlines article p{
    margin: 0;
    padding: 0;
    font-family: 'champagne__limousinesregular', Helvetica, sans-serif;
    font-size: 0.85em;
    line-height: 1.6em;
    color: #000;
    letter-spacing: 0.05em;
    text-transform: none;
}
#headlines article header h3{
    margin: 0;
    padding: 0;
    font-family: 'champagne__limousinesregular', Helvetica, sans-serif;
    font-size: 1.3em;
    color: #000;
    letter-spacing: 0.05em;
}
#headlines article header p.datetime{
    margin: 0;
    padding: 0;
    font-family: 'champagne__limousinesregular', Helvetica, sans-serif;
    font-size: 1.0em;
    color: #565656;
    letter-spacing: 0.05em;
}


#social{
    padding: 30px;
    background: #000;
}
#social ul{
    list-style: none;
    margin: 0 auto;
    padding: 0; 
    text-align: center;
}
#social ul li{
    display: inline-block;
    margin: 0 40px 0 0;
}
#social ul li:last-child{
    margin-right: 0;
}
#social ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    overflow: auto;
}
a.fb{
    background: url('../img/social/icon_facebook_white.png') no-repeat center/40px 40px;
}
a.twt{
    background: url('../img/social/icon_twitter_white.png') no-repeat center/40px 40px;
}
a.goog{
    background: url('../img/social/icon_google-plus_white.png') no-repeat center/40px 40px;
}
a.yt{
    background: url('../img/social/icon_youtube_white.png') no-repeat center/40px 40px;
}
a.ingr{
    background: url('../img/social/icon_instagram_white.png') no-repeat center/40px 40px;
}
a.pin{
    background: url('../img/social/icon_pinterest_white.png') no-repeat center/40px 40px;
}
a.tmbl{
    background: url('../img/social/icon_tumblr_white.png') no-repeat center/40px 40px;
}
#social ul li a:hover{

}


footer#footer{
    margin: 0 auto;
    padding: 80px 30px;
    background: #fff000;
    overflow: hidden;
}
#footer_nav{
    display: inline-block;
    position: relative;
    left: 50%;
}
.container{
    display: inline-block;
    position: relative;
    right: 50%;
}
.footer_links{
    float: left;
    margin-right: 20px;
}
.footer_links h3{
    margin: 0 0 15px 0;
    padding: 0;
    font-family: 'champagne__limousinesbold', sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    color: #000;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.footer_links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer_links ul li{
    margin: 0 25px 0 0;
}
.footer_links ul li:last-child{
    margin: 0;
}
.footer_links ul li a{
    font-family: 'champagne__limousinesbold', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    text-align: left;
    color: #625102;
    text-decoration: none;
    text-transform: uppercase;
}
.footer_links ul li a:hover{
    color: #413b1d;
    text-decoration: none;
}

#footer .logo_footer{
    float: left;
    margin-right: 50px;
}

#footer .logo_footer img{
    float: left;
    width: 149px;
    height: 61px;
    margin-right: 25px;
}
#footer .logo_footer .address{
    float: left;
    font-family: 'champagne__limousinesbold', Helvetica, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: left;
    color: #625102;
}


.copyright{
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-family: 'champagne__limousinesregular', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    text-transform: uppercase;
    color: #625102;
    text-align: left;
    clear: both;
}


/* ==============
    MOBILE: Menu
   ============== */



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* Shared classes*/

.clear{
    clear: both;
}
.left{
    float: left;
}
.opaque{
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.wrapper{
    margin: 0 auto;
}
.uppercase{
    margin-top: 0;
    text-transform: uppercase;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}