
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 479px) {
	.wrapper{
		width: 408px;
	}
	#headlines h2{
    	width: 260px;
    	padding: 0 20px;
    	font-size: 2.0em;
    	margin: -104px auto 50px auto;
    	letter-spacing: 0.5em;
    }
	#footer .logo_footer{
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#headlines h2{
    	width: 310px;
    	padding: 0 30px;
    	font-size: 2.4em;
    	margin: -110px auto 50px auto;
    	letter-spacing: 0.5em;
    }

    #intro .intro_article_left .img_intro_left{
    	width: 100px;
    	border-top: 200px solid #fff000;
    	border-right: 100px solid rgba(0,0,0,0);
    }
    #intro .intro_article_right .img_intro_right{
    	width: 100px;
    	border-bottom: 200px solid #fff000;
    	border-left: 100px solid rgba(0,0,0,0);
    }
	#intro p{
		font-size: 0.85em;
	}
    #intro .intro_article_left img, #intro .intro_article_right img{
    	height: 46px;
	}

	#photography .imagery_photo{
		width: 100%;
    	height: 200px;
	}
	#photography .imagery_press{
		width: 100%;
    	height: 200px;
    	
	}
	.ampersand{
		top: 170px;
    	left: calc(50% - 10px);
	}


	#footer .logo_footer{
		margin-bottom: 20px;
	}
	#footer .footer_links{
		padding-bottom: 30px;
	}
}
@media only screen and (min-width: 626px) and (max-width: 767px){
	#photography .imagery_photo{
		width: 304px;
    	height: 200px;
    	-webkit-shape-outside: polygon(0 0, 100% 0, 204px 100%, 0 100%);
	    shape-outside: polygon(0 0, 100% 0, 204px 100%, 0 100%);
	    -webkit-clip-path: polygon(0 0, 100% 0, 204px 100%, 0 100%);
	    -clip-path: polygon(0 0, 100% 0, 204px 100%, 0 100%);
	}
	#photography .imagery_press{
		width: 304px;
    	height: 200px;
    	-webkit-shape-outside: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	shape-outside: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	-webkit-clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	-clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
	}
	.ampersand{
		top: 50px;
    	left: calc(50% - 10px);
	}
}
@media only screen and (max-width: 768px){
	#logo{
		position: absolute;
		top: 10px;
		left: calc(50% - (170px/2));
	}
	#logo h1{
		margin: 0 auto;
		text-align: center;
	}
	#header nav{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	#header nav:first-child{
		margin-top: 75px;
	}
	#header nav ul li{
		float: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}
@media only screen and (min-width: 768px){
	#headlines h2{
    	width: 365px;
    	padding: 0 50px;
    	font-size: 2.8em;
    	margin: -115px auto 50px auto;
    	letter-spacing: 0.5em;
    }
    #intro .intro_article_left .img_intro_left{
    	width: 200px;
    	border-top: 200px solid #fff000;
    	border-right: 100px solid rgba(0,0,0,0);
    }
    #intro .intro_article_right .img_intro_right{
    	width: 200px;
    	border-bottom: 200px solid #fff000;
    	border-left: 100px solid rgba(0,0,0,0);
    }
    #intro .intro_article_left img, #intro .intro_article_right img{
    	height: 92px;
	}
	#intro p{
		font-size: 1.0em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1139px) {
	.wrapper{
		width: 758px;
	}

	#footer .container{
		
	}
	#footer .logo_footer{
		float: none;
		width: 100%;
	}
	#footer .address{
		margin-right: 30px;
	}
	.footer_links_container{
		float: none;
	}

	#photography .imagery_photo{
		width: 404px;
    	height: 200px;
    	-webkit-shape-outside: polygon(0 0, 100% 0, 304px 100%, 0 100%);
	    shape-outside: polygon(0 0, 100% 0, 304px 100%, 0 100%);
	    -webkit-clip-path: polygon(0 0, 100% 0, 304px 100%, 0 100%);
	    -clip-path: polygon(0 0, 100% 0, 304px 100%, 0 100%);
	}
	#photography .imagery_press{
		width: 354px;
    	height: 200px;
    	-webkit-shape-outside: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	shape-outside: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	-webkit-clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	-clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
	}
	.ampersand{
		top: 50px;
    	left: calc(50% + 10px);
	}
}
@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    #photography .imagery_photo{
		width: 410px;
    	height: 200px;
    	-webkit-shape-outside: polygon(0 0, 100% 0, 310px 100%, 0 100%);
	    shape-outside: polygon(0 0, 100% 0, 310px 100%, 0 100%);
	    -webkit-clip-path: polygon(0 0, 100% 0, 310px 100%, 0 100%);
	    -clip-path: polygon(0 0, 100% 0, 310px 100%, 0 100%);
	}
	#photography .imagery_press{
		width: 410px;
    	height: 200px;
    	-webkit-shape-outside: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	shape-outside: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	-webkit-clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    	-clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
	}
	.ampersand{
		top: 50px;
    	left: calc(50% - 24px);
	}
}